.DS_Store
node_modules
/dist
/.cache

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.db
**/node_modules
**/.env.*
.env

*.DS_Store
**/pass
**/deploy/app/sa.json
# For Terraform
# Local .terraform directories
**/.terraform/*
**/.terragrunt/*
**/.terragrunt-cache*
**/.terragrunt-cache/*
# .tfstate files
*.tfstate
*.tfstate.*
crash.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.secrets
